<div class="block block--close block--vertical-borders block--shrink" (click)="toggleRooms()">

  <div class="block block--whole block--close block--auto ">
    Платежи
  </div>
  <div class="block block--whole block--tight block--short">
    <app-state-button class="block block--whole block--short" [button]="warningButton" [value]="filterByWarnings()"></app-state-button>
    <app-state-button class="block block--whole block--short" [button]="errorButton" [value]="filterByErrors()"></app-state-button>

  </div>
  <app-state-button class="block block--whole block--last block--short" [button]="expandButton" [value]="stateService.showPayments()" [stopEvent]="false"></app-state-button>
</div>
@if(stateService.showPayments()){
  <div [ngClass]="{'block block--vertical block--vertical-gap': true, 'block--vertical-borders': !stateService.showPayments()}">
    @for (paymentId of displayPayments(); track paymentId) {
      @if(paymentId !== newPaymentId){
        <app-payment class="block block--vertical block--bordered block--whole block--close"  [paymentId]="paymentId" [editModeInput]="false"></app-payment>
      }
    }

  </div>

}
