@if(this.state()?.unchecked || this.state()?.hasUnsharedPayment){
  <div class="block block--tight block--short">
    <app-button class="block  block--short block--whole" [button]="warningButton"></app-button>
    <app-button class="block  block--short block--whole" [button]="errorButton"></app-button>
  </div>

}

<div class="block  block--auto block--whole"> {{room()?.name || ''}}</div>
<div [ngClass]="['block',  'block--short', 'block--last', (state()?.balance || 0 )< 0 ? 'red' : 'green']"> {{state()?.balance}}</div>
