

<div class="block block--whole block--vertical block--vertical-gap block--short">
  @if (isFirst()){
    <div class="block block--whole block--centred block--opacity">Д</div>
  }
  <app-state-button class="block block--whole block--close block--short" [button]="activeButton" [value]="this.activeControl.getRawValue()"></app-state-button>

</div>
<div class="block block--whole block--vertical block--vertical-gap block--short">
  @if (isFirst()){
    <div class="block block--whole block--centred  block--opacity">С</div>
  }
  <div [ngClass]="{'block block--whole block--close block--short': true, 'payer': isPayer()}">{{member()?.name}}</div>

</div>

<div class="block block--whole block--vertical block--vertical-gap block--short block--last">
  @if (isFirst()){
    <div class="block block--whole block--centred "> Доля </div>
  }

  <div class="block block--whole block--close block--short  share-buttons">
    <app-button class="block block--whole block--close block--short" [button]="decreaseShareButton"></app-button>
    <div class="block block--whole block--close block--short">{{shareControl.getRawValue()}}</div>
    <app-button class="block block--whole block--close block--short" [button]="increaseShareButton"></app-button>
  </div>
</div>

<div class="block block--whole block--vertical block--vertical-gap block--short">
  @if (isFirst()){
    <div class="block block--whole block--centred"> Сумма </div>
  }

  @if (disableMoneyInputs()) {
    <div class="block block--whole block--close block--short block--amount"> {{lastShare?.balance || 0}}</div>
  } @else {
    <input class="block block--whole block--close block--short input input--amount" type="number" [formControl]="balanceControl">
  }
</div>

@if(isUnchecked()) {
  <app-button class="block block--whole block--close block--short" [button]="acceptButton"></app-button>
}
