<app-state-button class="block block--whole block--close block--short" [button]="activeButton" [value]="this.activeControl.getRawValue()"></app-state-button>
<div [ngClass]="{'block block--whole block--close block--short': true, 'payer': isPayer()}">{{member()?.name}}</div>
<div class="block block--whole block--close block--short block--last share-buttons">
  <app-button class="block block--whole block--close block--short" [button]="decreaseShareButton"></app-button>
  <div class="block block--whole block--close block--short">{{shareControl.getRawValue()}}</div>
  <app-button class="block block--whole block--close block--short" [button]="increaseShareButton"></app-button>
</div>
<input class="block block--whole block--close block--short input input--amount" type="number" [formControl]="balanceControl">
@if(isUnchecked()) {
  <app-button class="block block--whole block--close block--short" [button]="acceptButton"></app-button>
}
