<div class="block block--whole block--tight block--short">
  <app-button class="block block--whole block--short" [button]="homeButton"></app-button>
  <app-button class="block block--whole block--short" [button]="warningButton"></app-button>
  <app-button class="block block--whole block--short" [button]="errorButton"></app-button>
</div>

@if (editNameMode()) {
  <app-update-item class="block block--tight" [value]="name() || ''" (newValue)="editName($event)"></app-update-item>
} @else {
  <div class="block block--whole block--close block--short">
    <div class="block block--auto"> {{name() || ''}}     </div>
    @if(name()){
      <app-button class="block block--whole block--short" [button]="editNameButton"></app-button>
    }
  </div>
}

<div [ngClass]="['block', 'block--whole block--close', 'block--short', 'block--last', balance() < 0 ? 'red' : 'green']">{{balance()}}</div>
