

<div #paymentElem class="block block--vertical " (click)="toggleShares()">
  <div class="block block--whole block--close ">
    @if(showPhoto() && photos().length){
      <div class="photo blcok block--whole">
        <app-button class="close" [button]="closeFileButton"></app-button>
        <app-button class="drop" [button]="dropFileButton"></app-button>
        <img class="block block--whole" [src]="photos()[0]" alt="">
      </div>
    } @else {
      <div class="grid">
        <div class="indicators block block--whole block--short">
          @if (canEdit() || hasIndicators()) {
            <div class="block block--whole block--vertical block--short">
              <app-button class="block block--whole block--short" [button]="warningButton" [stopEvent]="true"></app-button>
              <app-button class="block block--whole block--short" [button]="errorButton" [stopEvent]="true"></app-button>
              @if (!hasIndicators()){
                <div class="block block--whole block--short">Cумма</div>
              }
            </div>
          }
        </div>
        <div  [ngClass]="{'amount block block--whole block--short' :true, only: !canEdit() && !hasIndicators()}">
          @if (canEdit()){
            <input (click)="stopEvent($event)" class="block block--whole block--close input--amount" type="number"
              [formControl]="paymentForm.controls.amount">
            } @else {
            <div class="block block--whole block--close block--short"> {{amount()}} </div>
            }
        </div>
        <div [ngClass]="{'data-1 block block--whole': true, only:  !canEdit() && !this.comment() && !this.photos().length}">
          <div class="block block--whole block--close block--short"> {{payerName()}} </div>
          @if (canEdit()){
            <input (click)="stopEvent($event)" class="block block--whole block--close block--last input--date" type="date"
              [formControl]="paymentForm.controls.date">
            } @else {

            }
        </div>
        <div class="data-2 block block--whole">
          <div class="block block--whole block--close">
            @if (canEdit()){
            <input (click)="stopEvent($event)" class="input block block--whole" type="text" [formControl]="paymentForm.controls.comment"
              placeholder="комментарий">

            <div (click)="stopEvent($event)" class="block block--whole block--short block--shrink files">
              <app-button [button]="fileButton" [stopEvent]="true"></app-button>
              <input type="file" (change)="onFileSelected($event)">
            </div>
            @if(photos().length){
              <app-button [button]="photoButton" [stopEvent]="true"></app-button>
            }
            } @else {
              @if(comment()){
                <div class="block block--whole block--close block--auto"> {{comment()}} </div>

              }
              @if(photos().length){
                <app-button [button]="photoButton" [stopEvent]="true"></app-button>
              }

          }


          </div>
        </div>

        <div class="balance block block--whole block--short">
          @if(!this.canEdit()){
            <div class="block block--whole block--close block--last block--short block--last"> {{date()}} </div>

          }
          @if (!payment()?.debt) {
            <div [ngClass]="['block', 'block--whole',  'block--close', 'block--short', 'block--shrink', color()]"> {{balance()}}
            </div>
            }
        </div>
      </div>



    }

  </div>

</div>
@if(editMode()){
<div class="block block--vertical block--vertical-gap block--vertical-borders">
  @for (memberId of stateService.memberIds(); track memberId; let isFirst = $first) {
  <app-member-share class="block block--close block--whole" [memberId]="memberId" [sharesMap]="sharesMap()"
    [showAccept]="state()?.unchecked || false"  [isFirst]="isFirst" (changeShare)="onShareChanged()"></app-member-share>
  }
</div>
<div class="block block--last-vertical ">
  @if(acceptDelete()){
    <app-button class="block block--whole block--close" [button]="acceptDeleteButton"></app-button>
    <app-button class="block block--whole block--close" [button]="declineDeleteButton"></app-button>

  } @else {
    <app-button class="block block--whole block--close" [button]="saveButton"></app-button>
    @if(payment()?.payer === stateService.user().id){
      <app-button class="block block--whole block--close" [button]="deleteButton"></app-button>
    }
    <app-button class="block block--whole block--close" [button]="cancelButton"></app-button>

  }
</div>
}
