<div #paymentElem class="block block--vertical " (click.capture)="toggleShares($event)">
  <div class="block block--whole block--close ">
    <div class="block block--whole block--vertical block--short block--shrink">
      @if (canEdit() || this.state()?.unchecked || payment()?.payer === this.stateService.user().id && payment()?.amount !==
      payment()?.shared) {
        <div class="block block--whole block--vertical block--short">
          <app-button class="block block--whole block--short" [button]="warningButton"></app-button>
          <app-button class="block block--whole block--short" [button]="errorButton"></app-button>
          <div class="block block--whole block--short block--opacity">W</div>
        </div>
      }
      <div class="block block--whole block--short">
        @if (canEdit()){
        <input class="block block--whole block--close input--amount" type="number"
          [formControl]="paymentForm.controls.amount">
        } @else {
        <div class="block block--whole block--close block--short"> {{amount()}} </div>
        }
      </div>
    </div>
    <div class="block block--vertical block--whole ">
      <div class="block block--whole">
        <div class="block block--whole block--close block--short"> {{payerName()}} </div>
        @if (canEdit()){
          <input class="block block--whole block--close block--last input--date" type="date"
            [formControl]="paymentForm.controls.date">
          }
      </div>
      @if (canEdit()){
      <input class="input block block--whole block--close" type="text" [formControl]="paymentForm.controls.comment"
        placeholder="комментарий">
      } @else if (comment()) {
      <div class="block block--whole block--close block--auto"> {{comment()}} </div>
      }

    </div>
    @if(!this.canEdit()){
      <div class="block block--whole block--auto block--last block--shrink">
        <div class="block block--whole block--close block--last block--short block--last"> {{date()}} </div>
      </div>

    }
    @if (!payment()?.debt) {
    <div [ngClass]="['block', 'block--whole',  'block--close', 'block--short', 'block--shrink', color()]"> {{balance()}}
    </div>
    }
  </div>

</div>
@if(editMode()){
<div class="block block--vertical block--vertical-gap block--vertical-borders">
  @for (memberId of stateService.memberIds(); track memberId; let isFirst = $first) {
  <app-member-share class="block block--close block--whole" [memberId]="memberId" [sharesMap]="sharesMap()"
    [isFirst]="isFirst" (changeShare)="onShareChanged()"></app-member-share>
  }
</div>
<div class="block block--last-vertical ">
  <app-button class="block block--whole block--close" [button]="saveButton"></app-button>
  <app-button class="block block--whole block--close" [button]="cancelButton"></app-button>

</div>
}
