<div class="block block--vertical block--whole block--close wrapper">
  @if (this.errorService.errorMessage()) {
    <div class="block block--vertical block--vertical-borders block--error">
      <div class="block error" > {{this.errorService.errorMessage()}} </div>
      <div class="block">
        <app-button class="block block--whole" [button]="errorButton"></app-button>
      </div>
    </div>
  } @else {
    @if (stateService.editPaymentId()) {
      <app-payment class="block block--vertical block--vertical-borders block--whole block--close wrapper" [paymentId]="stateService.editPaymentId()"></app-payment>
    } @else {
      <app-header class="block block--shrink" ></app-header>
      @if(!this.stateService.currentRoom()){
        <app-user-rooms class="block block--whole block--vertical block--vertical-borders block--first-vertical" ></app-user-rooms>
      } @else {
        <div class="block block--shrink  block--whole block--vertical-borders">
          @if (editGroupNameMode()) {
            <app-update-item class="block " [value]="this.stateService.currentRoom()?.name || ''" (newValue)="editGroupName($event)"></app-update-item>
          } @else {
            <div class="block block--close">
              <div class="block block--auto block--whole">
                {{this.stateService.currentRoom()?.name || ''}}
              </div>
              <div class="block block--auto block--whole block--last">
                <app-button class="block block--whole block--short" [button]="editGroupNameBUtton"></app-button>
                <app-state-button class="block block--whole block--short" [button]="muteButton" [value]="muteValue()"></app-state-button>
                <app-button class="block block--whole block--short " [button]="createLinkButton"></app-button>
              </div>
            </div>
          }
        </div>
        <app-room-debts class="block block--vertical block--whole"></app-room-debts>
        <app-room-members class="block block--vertical   block--whole"></app-room-members>
        <app-room-payments class="block block--vertical  block--whole"></app-room-payments>

        @if (!this.stateService.editPaymentId() && this.stateService.currentRoom() != null && !this.stateService.showPayments()) {
          <app-button class="block block--last-vertical block--shrink" [button]="createButton"></app-button>
        }
      }
    }
  }
</div>
