<div class="block block--vertical-borders block--close block--shrink" (click)="toggleMembers()">
  <div class="block block--whole block--close block--auto" >
    Участники
  </div>
  <div class="block block--whole block--last block--short"> {{stateService.memberIds().length}}</div>
  <app-state-button class="block block--whole block--short" [button]="expandButton" [value]="stateService.showMembers()" [stopEvent]="false"></app-state-button>
</div>
@if(stateService.showMembers()){
  <div class="block block--vertical block--vertical-gap block--vertical-borders">
    @for (memberId of this.stateService.memberIds(); track memberId) {
      <div class="block block--whole ">
        @if(stateService.membersMap().get(memberId)?.userId !== stateService.membersMap().get(memberId)?.payer){
          <div class="block block--whole block--opacity submissive">S</div>
        }

        <app-member class="block block--close block--bordered block--shrink-1" [memberId]="memberId"></app-member>
      </div>
    }
    <app-new-item class="block block--close block--bordered" (newItem)="createMember($event)"></app-new-item>
  </div>
}
