<div class="block block--whole block--close">
  <div class="block block--whole block--close block--auto" >
    Участники
  </div>
  <app-button class="block block--whole block--last block--short" [button]="expandButton"></app-button>
</div>
@if(showMembers()){
  @for (memberId of this.stateService.memberIds(); track memberId) {
    <app-member class="block block--whole block--close" [memberId]="memberId"></app-member>
  }
  <app-new-item class="block block--whole block--close" (newItem)="createMember($event)"></app-new-item>

}
